.history_outer_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 11vh;
    font-family: Kaisei Decol;

}
.history_image_top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.sunset{
    width: 100vw;
    position: relative;
}
.sunset_image{
    background-image: url(../../assets/sunset.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 40vh;
    filter: brightness(80%);
    display: flex;
    justify-content: center;
}
.our_story{
    background-image: url(../../assets/paint/purpledefined.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: -27%;
    bottom: 0;
    width: 250px;
    text-align: center;
    align-self: center;
    position: absolute;
    z-index: 3;

}
.our_story h2{
    padding: 2rem;
    color:white;
    font-size: 22pt;
    
}
.vertical_line {
    height: 220%;
    position: absolute;
    top: 35%;
    bottom: 0;
    left: 50%;
    width: 10px; 
    background: linear-gradient(to bottom, #57558C 0%, #F4C078 35%, #0B8F99 60%, #57558C 100%); 
    transform: translateX(-50%);
  }

  .our_history_image{
    width: 80vw;
    align-self: center;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  .our_history_image2{
    width: 80vw;
    align-self: center;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  .our_history_image3{
    width: 80vw;
    align-self: center;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
  .history_our_history{
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #f4c078ef;
    position: relative;
  }
  .southwest_to_outback{
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #0b9099f6;
    position: relative;
  }
  .new_mexico_end{
    position: relative;
    z-index: 3;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #57558cfa;
    position: relative;
  }
  .history_mid_page h3{
    font-size: 16pt;
    margin: 1rem;
  }

  .history_our_history h3, p{
    position: relative;
    z-index: 2;
  }
  .history_yellow_paint{
    position: absolute;
    top: 100px;
    width: 60vw;
    z-index: 1;
  }

  .history_teal_paint{
    position: absolute;
    top: 100px;
    width: 60vw;
    z-index: 1;
  }

  .history_nm_end{
    position: absolute;
    top: 100px;
    width: 60vw;
    z-index: 1;
  }


  

  @media (min-width: 1024px) {
    .history_our_history{
      background-color: transparent;
      display: flex;
      flex-direction: row;
      margin : 1rem;
      line-height: 1.5;
    }
    .history_our_history_inner{
      width: 50%;
    }
    .history_our_history h3{
      font-size: 22pt;
    }
    .our_history_image{
      position: absolute;
      right: 25%;
      transform: translateX(-50%);
      width: 50vw;
    }
    .history_yellow_paint{
      width: 25vw;
    }







    .southwest_to_outback{
      background-color: transparent;
    }
    .new_mexico_end{
      background-color: transparent;
    }
    .vertical_line {
      height: 250%;
    }
    

  }
  